<!-- <div class="card box-shadow">
  <div class="card-body">
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-4">
          <h5>FILTER PRODUCT</h5>
        </div>
      </div>

      <mat-divider></mat-divider>

      <form [formGroup]="modelForm" class="example-form" (ngSubmit)="onSubmit(modelForm)">
        <div class="row mt-2">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Brand</mat-label>
              <mat-select formControlName="brandControl" (ngModelChange)="getModels(modelForm)" required>
                <mat-option *ngFor="let brand of brands" [value]="brand.brand_name">
                  {{brand.brand_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="modelForm.hasError('required','brandControl')">Please choose an brand</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Product</mat-label>
              <mat-select formControlName="productControl" (ngModelChange)="getModels(modelForm)" required>
                <mat-option *ngFor="let product of products" [value]="product.product_name">
                  {{product.product_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="modelForm.hasError('required','productControl')">Please choose an product</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Model</mat-label>
              <mat-select formControlName="modelControl" [(value)]="selected" required>
                <mat-option *ngFor="let model of models" [value]="model">
                  {{model.model_name}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="selected">MRP Price : {{selected.mrp_price}}</mat-hint>
              <mat-error *ngIf="modelForm.hasError('required','modelControl')">Please choose an model</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter Quantity</mat-label>
              <input matInput type="number" min="1" placeholder="Enter Quantity" formControlName="quantityControl" required>
              <mat-error *ngIf="modelForm.hasError('required','quantityControl')">Please enter Quantity</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter price</mat-label>
              <input matInput type="number" placeholder="Enter Price" formControlName="priceControl" required>
              <mat-error *ngIf="modelForm.hasError('required','priceControl')">Please enter price</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateControl" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error *ngIf="modelForm.hasError('required','dateControl')">Please select date</mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="offset-sm-8 col-sm-4">
          <button type="submit" class="mt-2 full-width" mat-raised-button color="primary">
            <mat-icon title="Submit">send</mat-icon> Add to cart
          </button>
        </div>


      </form>

    </div>
  </div>
</div> -->

<div class="fluid-container m-3">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>shopping_cart</mat-icon>&nbsp;&nbsp; ADD & REVIEW CART
        </mat-panel-title>
        <mat-panel-description>
          Select product and add to cart
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Start filter product -->
      <form [formGroup]="modelForm" class="example-form" (ngSubmit)="onSubmit(modelForm);">
        <div class="row m-2">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Brand</mat-label>
              <mat-select formControlName="brandControl" (ngModelChange)="getModels(modelForm)" required>
                <mat-option *ngFor="let brand of brands" [value]="brand.brand_name">
                  {{brand.brand_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="modelForm.hasError('required','brandControl')">Please choose an brand</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Product</mat-label>
              <mat-select formControlName="productControl" (ngModelChange)="getModels(modelForm)" required>
                <mat-option *ngFor="let product of products" [value]="product.product_name">
                  {{product.product_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="modelForm.hasError('required','productControl')">Please choose an product</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select Model</mat-label>
              <mat-select formControlName="modelControl" [(value)]="selected" required>
                <mat-option *ngFor="let model of models" [value]="model">
                  {{model.model_name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="modelForm.hasError('required','modelControl')">Please choose an model</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter Quantity</mat-label>
              <input matInput type="number" min="1" placeholder="Enter Quantity" formControlName="quantityControl"
                required>
              <mat-hint *ngIf="selected">In Stock : {{selected.quantity}}</mat-hint>
              <mat-error *ngIf="modelForm.hasError('required','quantityControl')">Please enter Quantity</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter price</mat-label>
              <input matInput type="number" placeholder="Enter Price" formControlName="priceControl" required>
              <mat-hint *ngIf="selected">MRP Price : {{selected.mrp_price}}</mat-hint>
              <mat-error *ngIf="modelForm.hasError('required','priceControl')">Please enter price</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <button type="submit" class="m-1 full-width" mat-raised-button color="primary">
              <mat-icon title="Submit">add_shopping_cart</mat-icon> Add to cart
            </button>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"> </th>
                      <th scope="col">Product</th>
                      <th scope="col" class="text-center">Available</th>
                      <th scope="col" class="text-center">Quantity</th>
                      <th scope="col" class="text-center">Price</th>
                      <th scope="col" class="text-center">Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="cart.length <= 0">
                      <td colspan="6" class="text-center">Cart Empty</td>
                    </tr>
                    <tr *ngFor="let item of cart; let i = index;">
                      <td>
                        <img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                      <td>
                        Product Name: {{item.productControl}}
                        <br> Model No: {{item.modelControl.model_name}}, {{item.brandControl}}
                      </td>
                      <td class="text-center">{{item.modelControl.quantity > 0 ? 'In stock' : 'Out of Stock'}}</td>
                      <td class="text-center">
                        {{item.quantityControl}}
                      </td>
                      <td class="text-center">{{item.priceControl}}</td>
                      <td class="text-center">
                        <button mat-icon-button color="warn" (click)="deleteModel.show(); deleteId = i;">
                          <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <strong>Total</strong>
                      </td>
                      <td class="text-right">
                        <strong>{{getTotal()}} /-</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </form>
      <!-- End filter product -->
      <mat-action-row>
        <div class="container">
          <div class="row">
            <div class="offset-sm-8 col-xs-12 col-sm-4 text-right">
              <button [disabled]="cart.length <= 0" type="button"
                [ngClass]="{'checkout' : cart.length > 0, 'checkout-disabled' : cart.length <= 0}"
                class="m-1 full-width" mat-raised-button color="primary" (click)="checkout()">
                <mat-icon title="CHECKOUT">shopping_cart</mat-icon> CHECKOUT
              </button>
            </div>
          </div>
        </div>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>place</mat-icon> CUSTOMER ADDRESS
        </mat-panel-title>
        <mat-panel-description>
          Inform your shipping address
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-address (addressOutput)="getAddress($event)" (prevStep)="prevStep();"></app-address>

    </mat-expansion-panel>

  </mat-accordion>
</div>


<!-- ASK CONFIRMATION BEFORE DELETE PRODUCT FROM CART -->
<app-modal #deleteModel [dialogClass]="'modal-md'" [headerClass]="'modal-delete'" [closeBackdrop]="false"
  [hideFooter]="false" style="margin-top: 80px;">
  <div class="app-modal-header">
    <h6 class="modal-title">Are you sure?</h6>
    <button type="button" class="close basic-close" (click)="deleteModel.hide();" style="color:white;top:15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <div class="align-center">
      <p>Do you really want to delete these product? This process cannot be undone.</p>
    </div>
  </div>

  <div class="app-modal-footer">
    <button mat-raised-button (click)="deleteModel.hide();">Cancel</button>
    <button mat-raised-button color="warn" (click)="deleteItemFromCart( deleteModel);">Delete</button>
  </div>
</app-modal>