.full-width{
    width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.align-center{
  margin: 5px 70px 5px 70px;
  text-align: center;
}

button {
  margin-right: 8px;
}
.checkout{
  background:green;;
}
.checkout-disabled{
  background: #0080007a;;
}