<div class="signin-content content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p class="reset-info">RESET PASSWORD</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Please enter email id" formControlName="EmailId" required>
            <mat-error *ngIf="isFieldInvalid('EmailId')">
              Please inform your email address
            </mat-error>
          </mat-form-field>
           
          <button class="m-1" mat-raised-button style="width: 100%;" color="primary">
            <mat-icon title="reset password">lock</mat-icon> RESET PASSWORD
          </button>

          <button class="m-1" mat-raised-button style="width: 100%;" color="primary" [routerLink]="['/']">
              <mat-icon title="reset password">cancel</mat-icon> CANCEL
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>