<div class="signin-content content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="login-info">Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your user name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password
          </mat-error>
        </mat-form-field>

        <button class="m-1" mat-raised-button style="width: 100%;" color="primary">
          <mat-icon title="Logout">lock_open</mat-icon> LOG IN
        </button>

        <p class="mb-4">
          <a style="float:left;" mat-button [routerLink]="['/authentication/reset-password']" color="primary">Reset Password?</a>
          <a style="float:right;" mat-button routerLink="." color="primary">Register?</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>