/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #fafafa !important;
    color: rgba(0,0,0,.87);
}
.modal-header {
    background-color: rgba(19, 31, 107, 0.83);
    color: white;
}

.card{
    margin: 10px;
}

.modal {
    z-index: 99999999999;
  }
  
